{% extends 'base.html' %}

{% block content %}
    <style>
        .product-item {
            background-color: white;
            border: 1px solid black;
            border-radius: 10px;
            margin-bottom: 20px;
            padding: 10px;
        }

        .supplier-list {
        }

        .supplier-item {
            border-radius: 20px;
            margin-bottom: 10px;
            text-align: center;
            cursor: pointer;
        }
        .pagination {
          display: flex;
          justify-content: center;
          align-items: flex-end;
        }

        .pagination .step-links a {
          margin: 0 5px;
          padding: 5px 10px;
          border: 1px solid #ccc;
          border-radius: 3px;
          text-decoration: none;
          color: #333;
        }

        .pagination .current-page {
          font-weight: bold;
          color: #333;
          background-color: #fff;
        }
        </style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% for product in page_obj %}
                <div class="product-item">
                    <p>{{ product.name }}</p>
                    <p>Category: {{ product.category_id }}</p>
                   <div class="supplier-list"> {% for supplier_card in product.suppliers_id.all %}
                       <a href="{% url 'supplier_detail' supplier_card.id %}">
                           <div class="supplier-item p-2 {% if supplier_card.rating == 'low' %}bg-danger{% elif supplier_card.rating == 'medium' %}bg-warning{% else %}bg-success{% endif %} text-white">
                             {{ supplier_card.name }}
                            </div>
                        </a>
                           {% endfor %}
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo;</a>
            <a href="?page={{ page_obj.previous_page_number }}"><</a>
        {% endif %}

        <span class="current-page">{{ page_obj.number }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}