        .errorlist{
        color: red;
        }


        .button-link {
        text-decoration: none;
        color: inherit;
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
        /* Добавьте другие необходимые стили здесь */
    }
        .search-panel {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #f8f9fa;
            padding: 10px 15px;
            margin-bottom: 15px;
        }

        .search-icon {
            margin-right: 10px;
        }

        .selector-block {
            font-family: "Arial", sans-serif;
            font-size: 24px;
            font-weight: bold;
            padding: 10px 15px;
            background-color: #f8f9fa;
        }

        .input-group {
            margin-bottom: 0;
        }

        .btn-search {
            height: auto;
            padding: 10px 20px;
            font-size: 18px;
        }
        a {
  color: blue;
  text-decoration: none; /* no underline */
}
                 .save-button {
          background-color: red;
          color: white;
          padding: 10px 20px;
          border-radius: 8px;
          border: none;
          cursor: pointer;
        }

        .save-button:hover {
          opacity: 0.8;
        }

        .save-button:focus {
          outline: none;
        }
            /* Стили для формы */
    .form-container {
      max-width: 400px;
      margin: 0 auto;
    }

    /* Стили для поля ввода текста */
    .form-container input[type="text"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 10px;
    }

    /* Стили для выпадающего списка */
    .form-container select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 10px;

              .product-item {
            background-color: white;
            border: 1px solid black;
            border-radius: 10px;
            margin-bottom: 20px;
            padding: 10px;
        }

        .supplier-list {
        }

        .supplier-item {
            border-radius: 20px;
            margin-bottom: 10px;
            text-align: center;
            cursor: pointer;
        }
        .pagination {
          display: flex;
          justify-content: center;
          align-items: flex-end;
        }

        .pagination .step-links a {
          margin: 0 5px;
          padding: 5px 10px;
          border: 1px solid #ccc;
          border-radius: 3px;
          text-decoration: none;
          color: #333;
        }

        .pagination .current-page {
          font-weight: bold;
          color: #333;
          background-color: #fff;
        }
                .product-item {
            background-color: white;
            border: 1px solid black;
            border-radius: 10px;
            margin-bottom: 20px;
            padding: 10px;
        }

        .supplier-list {
        }

        .supplier-item {
            border-radius: 20px;
            margin-bottom: 10px;
            text-align: center;
            cursor: pointer;
        }